.post {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}
    .post > .header {
        display: inline-block;
        width: 100%;
    }
        .post > .header > img {
            display: inline-block;
            width: 50px;
            height: 50px;
            float: left;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
        .post > .header > .texts {
            display: inline-block;
            width: calc(100% - 90px);
            padding-left: 20px;
            float: left;
        }
            .post > .header .title {
                display: inline-block;
                width: 100%;
                margin-bottom: 5px;
            }
                .post .title > a {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 25px;
                }
            .post > .header .time {
                display: inline-block;
                width: 100%;
                font-size: 14px;
                line-height: 20px;
            }
        .post > .header > .fa {
            display: inline-block;
            width: 40px;
            padding: 10px;
            margin: -10px -10px 0 0;
            float: right;
            text-align: center;
        }
    .post > .content {
        display: inline-block;
        width: 100%;
    }
    .post > .footer {
        display: inline-block;
        width: 100%;
    }